*
{
	margin:0;
	padding:0;
}
body, html{height:100%;}
#main
{
	max-width:1280px;
	min-height:100%;
	position:relative;
}
#footer {
    position: absolute;
    botom: 0;
}
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
	margin: 0;
	padding: 0;
	background: #282828;
	font-family: 'Abel', sans-serif;
	font-size: 25px;
	color: #D0D0D0;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn-secondary{
	color: #D0D0D0;
	background-color: #2755f6;

}
h5
{
  color: red;
}
h6
{
  font-size: 18px;
  color: green;
}

.navbar{
	padding-bottom: -5px;
	margin-bottom: 0px;
}
li,a{
	padding-top: 10px;
	font-family: 'arial', sans-serif;
	font-size: 22px;
}
.formdate{
	font-size: 25px;
}
.alert{
	font-size: 20px;
}
.test{
	background-color: grey;
	font-size: 25p;
	padding-top:: 5px;
	border: 2px;
}
.col img{
	width: 10%;
}
